.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #eee;
}
.daterangepicker td.in-range {
    background-color: #e5f2ff !important;
    color: #000 !important;
}
.daterangepicker td.in-range:hover {
    background-color: #b3d7ff !important;

}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #007bff !important;
    color: #fff !important;
}
.applyBtn {
    color: #fff !important;
    background-color: #007bff !important;
}
.applyBtn:hover {
	background-color: #006fe6 !important;
}