.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #eee;
}
.daterangepicker td.in-range {
    background-color: #fff1e6 !important;
    color: #000 !important;
}
.daterangepicker td.in-range:hover {
    background-color: #fed5b3 !important;

}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #fd7e14 !important;
    color: #fff !important;
}
.applyBtn {
    color: #fff !important;
    background-color: #6c757d !important;
}
.applyBtn:hover {
	background-color: #e46902 !important;
}